<ion-view hide-nav-bar="true">
  <ion-content class="padding">
    <div class="main-top clearfix">
      <div class="main-half">
        <img class="main-image" src="img/bus_logo.png">
      </div>
      <div class="main-half">
        <p class="warning-bar" style="font-size: 150%">Make the call, save lives.</p>
        <p class="assertive warning-bar"><i class="icon ion-alert-circled"></i> Please do not approach traffickers.</p>
      </div>
    </div>

    <div class="main-buttons">
      <div class="row responsive-sm">
        <a class="button button-positive col" ng-href="#/tab/report">Report suspicious activity</a>
      </div>

      <div class="row responsive-sm">
        <a class="button button-positive col" ng-href="#/tab/red-flags">Trafficking red-flag indicators</a>
        <div class="col main-buttons-spacer"><!-- spacer --></div>
        <a class="button button-positive col" ng-href="#/tab/about-trafficking">About human trafficking</a>
      </div>
    </div>
    <hr>

    <h2>About Busing on the Lookout</h2>
    <h3>Mission</h3>
    <p>Busing on the Lookout (BOTL) exists to educate and equip all members of the busing industry with the information necessary to enable them to fight human trafficking as part of their everyday jobs.</p>

    <h3>Goals</h3>
    <ul class="reg-ul">
      <li>Train all bus drivers (commercial and school) and terminal employees with BOTL materials.</li>
      <li>Display BOTL materials in bus terminals in the hope victims will see them and self-report.</li>
      <li>Partner with law enforcement and government agencies to facilitate the investigation of human trafficking cases discovered through the bus industry and disseminate that information to our partners in the bus industry.</li>
    </ul>
    <p>For more information, go to <a ng-click="openExternalLink('http://www.www.busingonthelookout.org')">http://www.busingonthelookout.org</a>.</p>
    <p>Want to be BOTL trained? Take our <a ng-click="openExternalLink('https://education.truckersagainsttrafficking.org/courses/')">free on-demand training course</a>.</p>
    <p><button class="button button-outline button-positive" ng-click="openAboutModal()">About this app</button></p>

  </ion-content>
</ion-view>
