<ion-view hide-nav-bar="true">
  <ion-content class="padding">
    <h2>Trafficking info</h2>

    <p>Human trafficking is modern-day slavery. Traffickers use <strong>force, fraud, and coercion</strong> to control their victims. Any minor engaged in commercial sex is a victim of human trafficking.</p>
    
    <p>Trafficking can occur in many locations, including <strong>bus terminals, restaurants, hotels/motels, strip clubs, casinos, private homes, truck stops, rest stops</strong>, etc. Moreover, traffickers recruit victims out of bus terminals and utilize the bus itself to transport their victims. Whether you work behind a ticket counter, conduct bus maintenance, or are a professional driver, members of the bus industry are in a position to spot potential human trafficking situations and save a life.</p>
    
    <p>If you suspect a minor is selling commercial sex in any of the above locations or suspect that the person selling sex is under someone else's control please <a ng-href="#/tab/report">report your tip now</a>.</p>
    
  </ion-content>
</ion-view>
