<ion-view hide-nav-bar="true">
    <ion-content class="padding">
        <h2>Red-flag indicators</h2>
        <div class="row responsive-sm">
            <div class="col padding">
                <p><em>Trafficking <b>Red Flags</b> to look for:</em></p>
                <ul class="reg-ul">
                    <li>
                        <p>Restricted or controlled communication &mdash; not allowed to speak for self</p>
                    </li>
                    <li>
                        <p>Disheveled appearance, unkempt, alone, scared/crying</p>
                        <button class="button button-outline button-positive" ng-click="showCaseStudy('restricted')">Example</button>
                    </li>
                    <li>
                        <p>Offers to exchange sex for a ride, meal, etc.</p>
                        <button class="button button-outline button-positive" ng-click="showCaseStudy('offers')">Example</button>
                    </li>
                    <li>Does not know the person who is picking him/her up</li>
                    <li>Any acknowledgement that she/he has a pimp and is making a quota</li>
                    <li>Signs of branding or tattooing (often of trafficker's name)</li>
                    <li>Is not in possession of own ticket or ID</li>
                    <li>
                        <p>Is a minor traveling without adult supervision</p>
                        <button class="button button-outline button-positive" ng-click="showCaseStudy('minor')">Example</button>
                    </li>
                </ul>
            </div>

            <div class="col padding">
                <p><em>If you suspect someone is a victim of human trafficking, here are some questions to ask him/her:</em></p>
                <ul class="reg-ul">
                    <li>Do you know the person who is picking you up?</li>
                    <li>Do you feel safe with the person you're traveling with?</li>
                    <li>Do your parents/siblings/relatives know where you are? If not, why not?</li>
                    <li>Are you free to come and go as you please?</li>
                    <li>Are you or your family being threatened? What is the nature of the threats?</li>
                </ul>
            </div>
        </div>

        <p>Want to learn more? Watch our <a ng-click="openExternalLink('https://education.truckersagainsttrafficking.org/courses/')">free on-demand training</a>.</p>

    </ion-content>
</ion-view>
